/* Styles pour l'overlay */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 9999; /* Assure que l'overlay est au-dessus de tout le reste */
  pointer-events: all; /* Capte tous les événements de clic */
  cursor: not-allowed; /* Change le curseur pour montrer que la zone est désactivée */
}

/* Styles pour la modale */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Fond blanc pour la modale */
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 10000; /* Modale au-dessus de l'overlay */
  border-radius: 8px;
  width: 80%; /* Ajuster la largeur si nécessaire */
  max-width: 500px; /* Limite maximale pour la largeur */
}

/* En-tête de la modale */
.custom-modal .modal-content h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333333; /* Couleur du texte */
}

/* Zone de texte pour la raison du bannissement */
.custom-modal textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: none; /* Désactive la possibilité de redimensionner la zone de texte */
}

/* Conteneur pour les boutons de la modale */
.custom-modal .modal-buttons {
  display: flex;
  justify-content: space-between;
}

/* Styles des boutons dans la modale */
.custom-modal .modal-buttons .btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50; /* Couleur de fond initiale (vert) */
  color: #ffffff; /* Couleur du texte (blanc) */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

/* Changer la couleur de fond et du texte lors du survol */
.custom-modal .modal-buttons .btn:hover {
  background-color: #333333; /* Fond gris foncé */
  color: #ffffff; /* Texte blanc */
}

/* Bouton de validation en vert */
.custom-modal .modal-buttons .btn-success {
  background-color: #4CAF50; /* Vert pour le bouton de validation */
}

/* Bouton d'annulation en gris */
.custom-modal .modal-buttons .btn-secondary {
  background-color: #777777; /* Gris pour le bouton d'annulation */
}

/* Message d'erreur en rouge */
.text-danger {
  color: #ff0000; /* Rouge pour les messages d'erreur */
  font-size: 0.875rem;
  margin-top: -10px;
  margin-bottom: 15px;
}

/* Message de succès en vert */
.alert-success {
  background-color: #dff0d8; /* Fond vert clair pour le message de succès */
  color: #3c763d; /* Texte vert foncé */
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 1rem;
}
